In [ ]:
import pandas as pd
df=pd.read_excel("/content/drive/MyDrive/final_grades.xlsx")
df2=pd.read_excel("/content/drive/MyDrive/intermediate_grades.xlsx")

/usr/local/lib/python3.10/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [ ]:

df.head()

,Student ID,ES 1.1 \n(2 points),ES 1.2 \n(3 points),ES 2.1\n(2 points),ES 2.2\n(3 points),ES 3.1\n(1 points),ES 3.2\n(2 points),ES 3.3\n(2 points),ES 3.4\n(2 points),ES 3.5\n(3 points),ES 4.1\n(15 points),ES 4.2\n(10 points),ES 5.1\n(2 points),ES 5.2\n(10 points),ES 5.3\n(3 points),ES 6.1\n(25 points),ES 6.2\n(15 points),TOTAL\n(100 points)
0,3,2.0,3,1.0,2.0,1,2,2,2.0,3.0,15.0,10.0,1,5.0,3.0,18.0,15,85.0
1,6,2.0,3,2.0,3.0,1,2,2,0.0,3.0,15.0,7.0,2,9.0,3.0,13.0,15,82.0
2,7,2.0,3,1.0,1.5,1,2,0,0.0,3.0,5.0,4.0,0,0.0,3.0,17.0,10,52.5
3,10,2.0,3,2.0,1.5,1,2,0,2.0,3.0,11.0,1.0,2,10.0,1.5,7.0,10,59.0
4,13,2.0,3,2.0,1.5,1,2,2,2.0,3.0,14.5,10.0,2,2.0,3.0,25.0,15,90.0

In [ ]:
df2.head()

   Student Id  Session 2  Session 3  Session 4  Session 5  Session 6
0           1        5.0        0.0        4.5        4.0       2.25
1           2        4.0        3.5        4.5        4.0       1.00
2           3        3.5        3.5        4.5        4.0       0.00
3           4        6.0        4.0        5.0        3.5       2.75
4           5        5.0        4.0        5.0        4.0       2.75

In [ ]:
df.isnull().sum()

Student ID             0
ES 1.1 \n(2 points)    0
ES 1.2 \n(3 points)    0
ES 2.1\n(2 points)     0
ES 2.2\n(3 points)     0
ES 3.1\n(1 points)     0
ES 3.2\n(2 points)     0
ES 3.3\n(2 points)     0
ES 3.4\n(2 points)     0
ES 3.5\n(3 points)     0
ES 4.1\n(15 points)    0
ES 4.2\n(10 points)    0
ES 5.1\n(2 points)     0
ES 5.2\n(10 points)    0
ES 5.3\n(3 points)     0
ES 6.1\n(25 points)    0
ES 6.2\n(15 points)    0
TOTAL\n(100 points)    0
dtype: int64

In [ ]:
##since there are no missing columns here ,we do not need to impute any value and directly apply model

In [ ]:
##We will split our data into train and test split

In [ ]:
df.columns

Index(['Student ID', 'ES 1.1 \n(2 points)', 'ES 1.2 \n(3 points)',
       'ES 2.1\n(2 points)', 'ES 2.2\n(3 points)', 'ES 3.1\n(1 points)',
       'ES 3.2\n(2 points)', 'ES 3.3\n(2 points)', 'ES 3.4\n(2 points)',
       'ES 3.5\n(3 points)', 'ES 4.1\n(15 points)', 'ES 4.2\n(10 points)',
       'ES 5.1\n(2 points)', 'ES 5.2\n(10 points)', 'ES 5.3\n(3 points)',
       'ES 6.1\n(25 points)', 'ES 6.2\n(15 points)', 'TOTAL\n(100 points)'],
      dtype='object')

In [ ]:
X=df.drop('TOTAL\n(100 points)',axis=1)
y=df['TOTAL\n(100 points)']

X.head()

,Student ID,ES 1.1 \n(2 points),ES 1.2 \n(3 points),ES 2.1\n(2 points),ES 2.2\n(3 points),ES 3.1\n(1 points),ES 3.2\n(2 points),ES 3.3\n(2 points),ES 3.4\n(2 points),ES 3.5\n(3 points),ES 4.1\n(15 points),ES 4.2\n(10 points),ES 5.1\n(2 points),ES 5.2\n(10 points),ES 5.3\n(3 points),ES 6.1\n(25 points),ES 6.2\n(15 points)
0,3,2.0,3,1.0,2.0,1,2,2,2.0,3.0,15.0,10.0,1,5.0,3.0,18.0,15
1,6,2.0,3,2.0,3.0,1,2,2,0.0,3.0,15.0,7.0,2,9.0,3.0,13.0,15
2,7,2.0,3,1.0,1.5,1,2,0,0.0,3.0,5.0,4.0,0,0.0,3.0,17.0,10
3,10,2.0,3,2.0,1.5,1,2,0,2.0,3.0,11.0,1.0,2,10.0,1.5,7.0,10
4,13,2.0,3,2.0,1.5,1,2,2,2.0,3.0,14.5,10.0,2,2.0,3.0,25.0,15

In [ ]:
y.head()

0    85.0
1    82.0
2    52.5
3    59.0
4    90.0
Name: TOTAL\n(100 points), dtype: float64

In [ ]:
##now we apply train test split upon the dataset

In [ ]:
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2)

print(xtrain.shape)

(41, 17)

In [ ]:
##Now we will apply our first model of regression which is linear regression

In [ ]:
from sklearn.linear_model import LinearRegression
LR=LinearRegression()
LR.fit(xtrain,ytrain)
ypreds=LR.predict(xtest)

ypreds

array([50. , 93.5, 71.5, 90. , 94. , 80.5, 22. , 82. , 78. , 46. , 18. ])

In [ ]:
##now we will measure accuracy score of it through R2 score 
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score



mse = mean_squared_error(ytest, ypreds)
mae = mean_absolute_error(ytest, ypreds)
r2 = r2_score(ytest, ypreds)

print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("R-squared:", r2)

Mean Squared Error: 3.7941054097509784e-26
Mean Absolute Error: 1.6536267304962332e-13
R-squared: 1.0

In [ ]:
##Now we do will make a decision tree model

from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score


xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.3)


model = DecisionTreeRegressor()
model.fit(xtrain, ytrain)

ypreds = model.predict(xtest)

mse = mean_squared_error(ytest, ypreds)
mae = mean_absolute_error(ytest, ypreds)
r2 = r2_score(ytest, ypreds)

print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("R-squared:", r2)

Mean Squared Error: 219.6875
Mean Absolute Error: 9.625
R-squared: 0.7448924048336176

In [ ]:
##Now we do it for Raandom Forest Regressor 
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score


xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.3)


model = RandomForestRegressor()
model.fit(xtrain, ytrain)

ypreds = model.predict(xtest)

mse = mean_squared_error(ytest, ypreds)
mae = mean_absolute_error(ytest, ypreds)
r2 = r2_score(ytest, ypreds)

print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("R-squared:", r2)

Mean Squared Error: 46.21186875
Mean Absolute Error: 5.545625
R-squared: 0.9467173581710415

In [ ]:
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
model = SVR()
model.fit(xtrain, ytrain)
ypreds = model.predict(xtest)
mse = mean_squared_error(ytest, ypreds)
mae = mean_absolute_error(ytest, ypreds)
r2 = r2_score(ytest, ypreds)

print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("R-squared:", r2)

Mean Squared Error: 1327.9355907482982
Mean Absolute Error: 29.67314705493762
R-squared: -0.5311199994215339